{# Rajout du footer #}

{% block footer %}

<footer class="text-white container-fluid mt-5">
    
    <section class="row align-items-center justify-content-around h-25">
        <div class=" text-white">
            <a href="./"> <h2 class="text-uppercase text-white font-weight-bold">
            <span class="text-primary">m</span>amy<span class="text-primary">s</span>treaming
            </h4> </a>
         </div>

<div class="text-center">
<i class="fa fa-facebook-square"></i>
<i class="ml-2 fa fa-instagram"></i>
<i class="ml-2 fa fa-youtube-square"></i>
<i class="ml-2 mr-5 fa fa-twitter-square"></i>
</div>

<div class=" text-center">
<p>Copyright Guillaume.C 2020</p>
</div>
</section>
    
</footer>

{% endblock %}